---
// TODO: when the page is narrow enough, figures with images don't have any horizontal padding
---

<div class="flex flex-col gap-4 w-full">
  <div class="w-full">
    <slot name="left" />
  </div>
  <div class="w-full">
    <slot name="right" />
  </div>
</div>
